<div class="layout-container">
  <app-navbar (toggleSidenav)="sidenav.toggle()"></app-navbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav 
                 [mode]="(isHandset$ | async) ? 'over' : 'side'" 
                 [opened]="!(isHandset$ | async)" 
                 class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content-pane">
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
